class CounterWrapper extends Component {
  state = {
    count: 0,
  }
  
  increment = () => {
    return this.setState({ count: this.state.count + 1 })
  }
  
  decrement = () => {
    return this.setState({ count: this.state.count - 1 })
  }

  render() {    
    return (
      <div className="App">
        {
          this.props.render({
            increment: this.increment, 
            decrement: this.decrement,
            count: this.state.count
          })
        }
      </div>
    )
  }
}