//componentDidMount e componentDidUpdate
useEffect(() => {
  document.title = `You clicked ${count} times`;
}); //, [])

//componentWillUnmount
useEffect(() => {
  return () => {
    document.title = '';
  };
});