const Counter = () => {
  return (
    <CounterWrapper
      render={
        ({ increment, decrement, count }) => (
          <CounterUI
            increment={increment}
            decrement={decrement}
            count={count} />
        )
      }>
    </CounterWrapper>
  )
}